/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection {
    background: transparent;
    color: inherit;
}

::-moz-selection {
    background: transparent;
    color: inherit;
}

html, body {
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	background-color: #000; 
}

#output {
	-webkit-transform-style: preserve-3d;
}

#canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	/*image-rendering: optimize-contrast;*/
	/*cursor: none;*/
	
}

#mainVideo {
	/*-webkit-filter: blur(10px);*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#remoteVideos {
	/*height: 30%;
	position: absolute;
	bottom: 0px;
	-webkit-transform-style: preserve-3d;*/
}

#remoteVideos video{
	height: 100%;
	margin-left: -25%;
}

#header {
	width: 100%;
	text-shadow: 1px 1px 3px #000;
	-webkit-transform-style: preserve-3d;
	position: absolute;
	top:0px;
	left: 0px;
}

/*#header h1 {
	font: 20px "kiosk_black";
	color: #ffffff;
	letter-spacing: 2px;
	position: absolute;
	top: 20px;
	left: 20px;
}*/

.logo {
	background:url('../images/mmlogo1.png') no-repeat;
	width:181px;
	height:32px;
	position: absolute;
	top: 20px;
	left: 20px;
}

#alertHolder {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.locale {
	font: 20px "kiosk_light";
	color: #ffffff;
	letter-spacing: 2px;
	text-align: right;
	position: absolute;
	top: 20px;
	right: 20px;
	text-transform: uppercase;
}

.gridItem {
	float: left;
	overflow: hidden;
	position: relative;
}

.color1 { background: #cc3434; }
.color2 { background: #f79838; }
.color3 { background: #6858a5; }
.color4 { background: #71c8f0; }
.color5 { background: #ed3a68; }
.color6 { background: #659941; }
.color7 { background: #005387; }

.alertbox {
	padding: 20px;
	background: rgba(0,0,0,0.5);
	width: 250px;
}

.alertbox h3 {
	font: 14px "kiosk_light";
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.alertbox p {
	font: 12px "kiosk_light";
	color: #ffffff;
	letter-spacing: 1px;
}

.alertbox .close {
	background: url('../images/x.png') no-repeat;
	position: absolute;
	width:20px;
	height:20px;
	top:0px;
	right:0px;
	text-indent: -999px;
	overflow: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
